# ------------------------- База данных

# Имя пользователя
DATABASE_USER_NAME=''

# Пароль
USER_PASSWORD=''

# Адрес сервера базы данных, по умолчанию localhost
POSTGRES_SERVER=''

# Порт подключения, по умолчанию 5432
PORT=''

# Название базы данных
DATABASE_NAME=''


# Строка подключения к БД
DATABASE_URL="postgresql+asyncpg://DATABASE_USER_NAME:USER_PASSWORD@POSTGRES_SERVER:PORT/DATABASE_NAME"


# ------------------------- URL ссылки

# Ссылка для подключения к серверу (локальный 'uvicorn': http://localhost:8000)
BASE_URL=''

# Ссылка на frontend
FRONTEND_URL=''